/* /// */
.invoice-header-row {
  background-color: #e3e3e3 !important;
  opacity: 1 !important;
}

#Invoice_edit_tabs_Invoice_items_content .admin__field{
  float: left;
  width: 20%;
  margin-bottom: -1px;
  margin-right: -1px;
}
#Invoice_edit_tabs_Invoice_items_content .admin__field-control{
  margin-left: 0;
  width: 100%;
}

#Invoice_edit_tabs_Invoice_items_content .admin__field:nth-child(4n){
  clear: right;
}

